@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-wallpaper;
  }
}

.btn-skimmer:hover,
.btn-skimmer:active,
.btn-skimmer {
  --bs-btn-active-bg: #598392;
  --bs-btn-active-color: white;
  --bs-btn-bg: #598392;
  --bs-btn-border-color: unset;
  --bs-btn-border-width: unset;
  --bs-btn-box-shadow: unset;
  --bs-btn-color: white;
  --bs-btn-hover-border-color: unset;
  background-color: #598392;
}

.dropdown-menu-skimmer,
.dropdown-menu-skimmer:hover {
  --bs-body-bg: #124559;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: #ffffff;
  --bs-dropdown-link-color: white;
  --bs-dropdown-link-hover-color: white;
  --bs-dropdown-link-hover-bg: #598392;
  border-color: white;
  border-width: 2px;
}

.dialog-header button {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e");
}
