@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-wallpaper;
  }
}

.btn-skimmer:hover,
.btn-skimmer:active,
.btn-skimmer {
  --bs-btn-active-bg: #f05941;
  --bs-btn-active-color: white;
  --bs-btn-bg: #f05941;
  --bs-btn-border-color: unset;
  --bs-btn-border-width: unset;
  --bs-btn-box-shadow: unset;
  --bs-btn-color: white;
  --bs-btn-hover-border-color: unset;
  background-color: #f05941;
}

.dropdown-menu-skimmer,
.dropdown-menu-skimmer:hover {
  --bs-body-bg: #be3144;
  --bs-dropdown-link-color: white;
  --bs-dropdown-link-hover-color: white;
  --bs-dropdown-link-hover-bg: #f05941;
}
